img {
    width: 50%;
    float: left;
}
p{
    margin: 0;
    text-align: center;
    float: left;
    width: 30%;
}

figcaption .destra, figcaption .sinistra {
    width: 35%;
}
figcaption{
    overflow: hidden;
    float: left;
    width: 50%;
}
figure{
    overflow: hidden;
}
li{
    overflow: hidden;
}
a {
    text-decoration: double;
    color: black;
}
ol {
    list-style: decimal;
    color: crimson;
}
a:hover {
    text-decoration: underline;
}