* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 25px;
    size: 3em;
}

p {
    margin: 20px;
    size: 1.5em;
}

li {
    margin: 15px;
    size: 2em;
    list-style: none;
}
.sinistra{
    width: 10%;
    float: left;
}
.destra {
    width: 10%;
    float: right;
}
ol{
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}