img {
    width: 1000px;
}
body {
    size: 20px;
    text-align: center;
}
h1 {
    size: 3em;
}
p {
    size: 1.5em;
}
li {
    size: 2em;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: cyan;
}