img {
    width: 1000px;
}
body {
    size: 20px;
}
a {
    text-decoration: double;
    color: black;
}
ol {
    list-style: decimal;
    color: crimson;
}
a:hover {
    text-decoration: underline;
}