img {
    width: 50%;
    float: left;
}
figcaption{
    margin: 8% 0;
    float: left;
    width: 50%;
}
figure{
    overflow: hidden;
}
li{
    overflow: hidden;
}
a {
    text-decoration: double;
    color: black;
}
ol {
    list-style: decimal;
    color: crimson;
}
a:hover {
    text-decoration: underline;
}